html, body {
  color: #f6f6f6;
  background: #050505;
}

.col--headings {
  margin-bottom: 3em;
}

.container--main {
  margin-top: 4em;
}

.content--main {
  font-size: 1.4em;
}

.content--heading {
  color: #007bff;
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  line-height: 1em;
}

.content--subheading {
  color: #f0f0f0;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1em
}

.portrait {
  background: url('../img/portrait.jpg');
  background-position: right 10px top 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 325px;
  margin-bottom: 2em;
}

/* Medium viewport and up */
@media (min-width: 768px) {
  .portrait  {
    min-height: 550px;
    margin-top: -5em;
  }
}
